body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }


  .stripe1 {
    background-color: rgb(255, 255, 255);
}
.stripe2 {
    background-color: #E8E8E8;

}