# service file for running pm2 node.js with systemd
# https://github.com/Unitech/pm2/issues/2914
# put in /etc/systemd/system and sudo systemtl enable pm2

[Unit]
Description=PM2 process manager
Documentation=https://github.com/TwistTRL/nodejs-twist-api
After=network.target

[Service]
Environment=NODE_PORT=3333
Type=simple
User=nodejs
ExecStart=/usr/bin/pm2 start /home/nodejs/api/nodejs-twist-api/index.js
ExecReload=/usr/bin/pm2 reload all
ExecStop=/usr/bin/pm2 kill

Restart=always
RestartSec=8

[Install]
WantedBy=multi-user.target